.roll{
    display: flex;
    gap: 1.3rem;
align-items: center;
background-color: aliceblue;
border-radius: 12px;
margin-left: 3px;
margin-right: 3px;
margin-top: 4px;

}
.icon{
    margin-left: 4px;
 
    
    border-radius: 50%;
    width: 50px;
height: 50px;
}

#userpic{
    width: 50px;
    height: 50px;
border-radius: 50%;
}
.roll p{
    color: black;
    font-size: 22px;
}
